@import url('https://fonts.googleapis.com/css2?family=Special+Elite&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

:root {
  --ff-primary: 'Roboto', sans-serif;
}

* {
  margin: 0;
  padding: 0;
  text-decoration: none; 
  color: rgb(58, 53, 53);
}

body {
  overflow-x: hidden;
  background: rgb(253, 231, 217);
  color: rgb(58, 53, 53);
}

h2 {
  margin: 1em 0 1em 15vw;
  font-family: var(--ff-primary);
  font-size: 2rem;
}



/* Utilities  */
.container {
  max-width: 1000px;
  margin: 0 auto;
}
.photo-menu p {
  text-align: center;
}

.img {
  width: 200px;
  height: auto;
}


.photo-link-card {
  margin: 0 auto;
  max-width: 20em;
  background: rgb(255, 255, 255);
  border-radius: 5px;
  box-shadow: 3px 3px 5px 2px rgba(0, 0, 0, .3);
  
}
.slideshow-container img {
  width: 50%;
}
.photo-link-card {
  cursor: pointer;
  transition: .15s ease-in-out;
}
.photo-link-card:hover {
  transform: translateY(-.5em);
}
.photo-link-card:active {
  
  transform: translateY(-.3em);
}
.photo-link-card p {
  padding: .25em;
}

.photo-link-card-photo {
  border-radius: 5px 5px 0 0;
  width: 17em;
  height: 13em;
  background-image: 
  url('./placeholderPhotos/barn.jpg');
  background-size: cover;
  animation: fadeIn;
  animation-duration: .2s;
}

.family {
  background-image: url('./placeholderPhotos/tomatoes.jpg');
  animation-duration: .5s;
}
.animals {
  background-image: url('./placeholderPhotos/llama.jpg');
  animation-duration: .8s;
  
}
.projects {
  background-image: url('./placeholderPhotos/tractor.jpg');
  animation-duration: 1.1s;
}
.holidays {
  background-image: url('./placeholderPhotos/turkey.jpg');
  animation-duration: 1.4s;
}
.misc {
  background-image: url('./placeholderPhotos/haybales.jpg');
  animation-duration: 1.7s;
}


.slideshow-container {
  width: 200vw;
  height: 100vh;
  z-index: -10;
}

.grid {
  display: grid;
  grid-gap: 1em;
}

.grid-3 {
  grid-template-columns: auto auto auto;
}

.grid-6 {
  grid-template-columns: auto auto auto auto auto;
  grid-gap: 0;
}

.flex {
  display: flex;
}

.flex-vertical {
  flex-direction: column;
}

.header {
  background-image: url('./placeholderPhotos/tractor2.jpg');
  background-size: cover;
  padding: 1.5em 0;
  text-align: center;
  font-size: 2rem;
  font-family: 'Special Elite', cursive;
}



.photo-menu .grid {
  width: 90%;
  margin: 1em auto;
}
/* Animations */

@keyframes fadeIn {
  0% { opacity: 0%;}
  100% { opacity: 100%;}
}