* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
}

:root {
    --gray-200: rgb(206, 206, 206);
    --gray-800: rgb(65, 65, 65);
    --gray-900: rgb(29, 29, 29);
}


a {
    text-decoration: none;
    color: black;
}

h2 {
    font-size: 5rem;
}

li {
    list-style: none;
}

textarea {
    padding: 1em;
}

button {
    border: none;
    background-color: inherit;
}


/* Utilities  */

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 1rem;
}

.flex {
    display: flex;
}

.blurred .photos > *:not(#largePhoto) {
    filter: blur(5px);
}

.hero {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: linear-gradient( rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4) ), url('./images/theFarm.jpeg');
    background-size: cover;
}

.title-wrapper {
    width: 90%;
    height: 90%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 1px solid var(--gray-200);
}

.title-first {
    font-size: 15.5vw;
    line-height: .85em;
    color: white;
    margin-top: .025em;
}
.title-second {
    font-size: 7vw;
    font-style: italic;
    color: white;
}

.underline {
    width: 8rem;
    margin: 0 auto;
    filter: invert(100%);
    -webkit-filter: invert(100%);
}

.pattern {
    max-width: 2rem;
    height: auto;
}

.underline-inverted {
    transform: rotate(180deg);
}

/* Page Menu  */

.page-menu {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 90%;
    gap: 1rem;
    margin: 2rem auto;
}

.page-menu > * {
    font-variant: small-caps;
    font-size: 1.25rem;
    margin: 0 auto;
}

/* Home page  */

.home p {
    font-size: 1.5rem;
    margin: 1em auto;
}

.home p + p {
    font-size: 1rem;
    
}



/* Input Form  */

.file-input-form {
    margin: 3rem 0;
    padding: 3rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.file-input-form p {
    font-size: 1.25rem;
}

.file-input-form h1 {
    font-size: 5rem;
    font-variant: petite-caps;
}

.file-input-form .underline {
    filter: invert(0);
}

.file-input-form .flex {
    gap: 1rem;
}

.file-input {
    opacity: 0;
    width: 0.1px;
    height: 0.1px;
    position: absolute;    
}

.file-input-button,
.upload-button,
.login button,
.home button {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--gray-800);
    color: white;
    font-size: 1.5rem;
    height: 2em;
    width: 10em;
    margin: 1em auto;
    border-radius: 25px;
    cursor: pointer;
    transition: 200ms;
}

.file-input-button:hover,
.upload-button:hover {
    background-color: black;
}

/* File Upload Button  */

.categories-list {
    flex-direction: column;
    margin: 1em 0;
}




.checkbox {
    display: inline-flex;
    align-items: center;
    cursor: pointer;
    position: relative;
}

.checkbox > span {
    font-size: 1.4rem;
    padding: .25em .5em;
    text-transform: capitalize;
    
}

.checkbox > input {
    height: 1rem;
    width: 1rem;
    -webkit-appearance: none;
    -moz-appearance: none;
    -o-appearance: none;
    appearance: none;
    border: 1px solid black;
    outline: none;
    border-radius: 2px;
    background-color: var(--gray-200);
    cursor: pointer;
  }

.checkbox > input:checked {
    background-color: var(--gray-900);
}

input[type="text"],
textarea[type="text"] {
    font-size: 1rem;
    margin: .25em 0;
    padding: .5em .75em;
    border: 1px solid black;
    border-radius: 2px;
}



/* Photos */

.gallery h2 {
    /* text-align: center; */
    text-transform: capitalize;
    font-variant: small-caps;
}

.gallery button:not(.recipe-link), 
.course-buttons button {
    font-size: 1rem;
    margin: 0 .5em;
    padding: .25em .5em;
    border: none;
    border-radius: 5px;
    background-color: var(--gray-200);
    box-shadow: .15em .15em .15em .1em rgba(0, 0, 0, 0.25) ;
    cursor: pointer;
    transition: 150ms;
}

.reversed,
.gallery button:hover:not(.recipe-link) {
    background-color: var(--gray-800) !important;
    color: var(--gray-200) !important;
}

.recipe-links {
    margin: 2em 2em;
}

.recipe-link {
    font-size: 1.25rem;
    text-transform: capitalize;
    font-weight: bold;
    margin: .5em 0;
    cursor: pointer;
}

.recipe-link:hover {
    border-bottom: 2px solid black;
}



.photos {
    display: grid;
    grid-template-columns: repeat( auto-fit, minmax(250px, 1fr) );
    gap: 1rem;
    margin: 2rem 0;
}

.photo-options {
    width: fit-content;
    color: var(--gray-200);
    background-color: var(--gray-800);
    border-radius: 50px;
    padding: .5rem;
    
}

.largePhoto {
    position: fixed;
    left: 50%;
    top: 50%;
    transform: translate3d(-50%, -50%, 0);
    filter: none !important;
    z-index: 3;
    background-color: white;
}

.largePhoto img {
    max-height: 90vh !important;
    cursor: pointer;
}

.photos img:not(.largePhoto img) {
    object-fit: cover;
    object-position: center;
    width: 100%;
    max-width: 350px;
    height: auto;
    max-height: 200px;
    margin: 0 auto;
    cursor: pointer;
}



.photos p {
    font-size: 1.3rem;
    font-weight: bold;
    text-transform: uppercase;
    margin: .2em auto;
}

.photos p + p {
    font-size: 1rem;
    font-style: italic;
    text-transform: none;
    font-weight: normal;
    margin: .25em auto;
    color: var(--gray-800);
}


.photos p {
    max-width: 250px;
    display: block;
    text-align: center;
}

/* Recipes  */

.recipes {
    margin: 3em auto;
}

.recipes li {
    margin: 1em 0;
}

.recipe {
    display: flex;
    flex-direction: column;
}

.recipe > * {
    margin: .5em 0;
}

.recipe h3 {
    font-size: 3rem;
    font-variant: petite-caps;
}

.recipe img {
    max-width: 500px;
    height: auto;

}

.footer {
    justify-content: space-between;
    background-color: var(--gray-800)
}

.footer > * {
    color: var(--gray-200);
    margin: 1em 2em;
}

